<div class="w-full flex flex-wrap gap-2">
  <label [for]="id" class="text-neutral-4">{{ label }}</label>
  <span class="flex-1">{{ errorMessage }}</span>
  <div class="w-full relative">
    <input
      [id]="id"
      class="w-full bg-neutral-1 text-end pl-8 pr-4 py-2 rounded text-neutral-5"
      type="number"
      [placeholder]="placeholder"
      [(ngModel)]="value"
    />
    @if (iconSrc) {
      <img
        [ngSrc]="iconSrc"
        [alt]="iconAlt"
        class="absolute top-1/2 left-4 transform -translate-y-1/2"
        height="16"
        width="10"
      />
    }
  </div>
</div>
